.doctors-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Hauptbereich 2/3, Details 1/3 */
    gap: 20px;
    padding: 20px;
    background: white;
    min-width: 500px;
    align-items: start;
  }
  
  /* Linke Spalte mit der Liste der Ärzte */
  .doctors-left {
    background: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
  }
  
  /* Rechte Spalte mit den Details */
  .doctors-right {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
  }
  
  .doctor-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .trash-icon {
    color: red;
    cursor: pointer;
    font-size: 20px; /* Größe des Icons */
    margin-left: 10px;
  }
  
  .trash-icon:hover {
    color: darkred;
  }
  
  