TZ=UTC
PORT=3000
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=backu
DB_PASSWORD=example
DB_DATABASE=app
DATABASE_URL=postgres://backu:example@127.0.0.1/app