.app-container {
  display: grid;
  grid-template-columns: 1fr minmax(1000px, 3fr) 1fr; /* 1fr links, 3fr Mitte, 1fr rechts */
  grid-template-rows: auto 1fr auto; /* Header, Main, Footer */
  grid-template-areas:
    "left header right"
    "left main right"
    "footer footer footer";
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: var(--primary-color);
  color: white;
  align-items: center;
  padding: 0 20px;
  height: 100px;
}

.left-space {
  grid-area: left;
  background: #f0f0f0;
}

.left-space-header {
  grid-area: left;
  height: 100px;
  background-color: var(--primary-color);
}

.main-content {
  grid-area: main;
  background: white;
  padding: 20px;
  display: flex;
  justify-content: center; /* Zentriert den Inhalt horizontal */
  min-width: 500px; /* Mindestbreite für Inhalte */
}

.right-space {
  grid-area: right;
  background: #f0f0f0;
}
.right-space-header {
  grid-area: right;
  height: 100px;
  background-color: var(--primary-color);
}

.footer {
  grid-area: footer;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  grid-area: main; /* Stellt sicher, dass es im richtigen Grid-Bereich bleibt */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  margin: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-width: 400px;
  text-align: center;
}
