.app-container {
  display: grid;
  grid-template-columns: 1fr minmax(1000px, 3fr) 1fr; /* 1fr links, 3fr Mitte, 1fr rechts */
  grid-template-rows: auto 1fr auto; /* Header, Main, Footer */
  grid-template-areas:
    "left header right"
    "left main right"
    "footer footer footer";
  height: 100vh;
}

.header {
  grid-area: header;
  background: #007acc;
  color: white;
  align-items: center;
  padding: 0 20px;
  height: 100px;
}

.left-space {
  grid-area: left;
  background: #f0f0f0;
}

.left-space-header {
  grid-area: left;
  height: 100px;
  background: #007acc;
}

.main-content {
  grid-area: main;
  background: white;
  padding: 20px;
  display: flex;
  justify-content: center; /* Zentriert den Inhalt horizontal */
  min-width: 500px; /* Mindestbreite für Inhalte */
}

.right-space {
  grid-area: right;
  background: #f0f0f0;
}
.right-space-header {
  grid-area: right;
  height: 100px;
  background: #007acc;
}

.footer {
  grid-area: footer;
  background: #007acc;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
