/* Globale Farben im :root definieren */
:root {
  --primary-color-p: #007acc;   /* Patient */
  --primary-color-d: #df5252;   /* Arzt */
  --primary-color: var(--primary-color-p); /* Standardwert */
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
